* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
  font-family: "bsfont-r";
  font-size: 16px;
  src: url("assets/휴먼범석체.ttf");
}

@font-face {
  font-family: "bsfont-l";
  font-size: 20px;
  font-weight: 400;
  src: url("assets/휴먼범석체.ttf");
}

@font-face {
  font-family: "bsfont-xl";
  font-size: 24px;
  src: url("assets/휴먼범석체.ttf");
}

@font-face {
  font-family: "prb";
  src: url("assets/Pretendard-Bold.otf");
}
@font-face {
  font-family: "prm";
  src: url("assets/Pretendard-Medium.otf");
}
@font-face {
  font-family: "prr";
  src: url("assets/Pretendard-Regular.otf");
}
@font-face {
  font-family: "prsb";
  src: url("assets/Pretendard-SemiBold.otf");
}
