.style {
  border-radius: 5px;
  border: 1px solid rgb(58 59 69 / 15%);
  box-shadow: 0 0.15rem 1.75rem 0 rgb(58 59 69 / 15%);
}

.NomalStyle {
  width: 80%;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  transition: 0.1s all ease-in;
}
.MobileStyle {
  width: 100%;
  transition: 0.1s all ease-in;
}

.flex_item {
  width: calc(50% - 5px);
  /* width: 50%; */
}

.w100 {
  width: 100%;
}

.labelStyle {
  height: 100%;
  position: relative;
  width: 100%;
}

.labelStyle::before {
  content: "";
  width: 1px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #dee2e6;
  margin-left: 9px;
}
.labelStyle button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 40px;
  height: 40px;
  right: 0;
  z-index: 1;
}

.labelStyle button img {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}
